/* .title-style-dark {
  color: #d2b48c;
  text-shadow: 
        0px 0px 5px #a98667, 
        0px 0px 5px #a98667, 
        0px 0px 5px #a98667, 
        0px 0px 10px #a98667; 
} */

.title-style-dark {
  color: #d2b48c;
  text-shadow:
    0px 0px 5px #8b7355,
    0px 0px 5px #8b7355,
    0px 0px 5px #8b7355,
    0px 0px 10px #8b7355;
}

.title-style-light {
  color: #7f5539;
  text-shadow:
    0px 0px 5px #deab90,
    0px 0px 5px #deab90,
    0px 0px 5px #deab90,
    0px 0px 10px #deab90;
}

/* .scroll-to-top-dark {
  background-color: #F6C792;
  box-shadow:
    0px 0px 5px #8b7355,
    0px 0px 5px #8b7355,
    0px 0px 5px #8b7355,
    0px 0px 10px #8b7355;
}

.scroll-to-top-light {
  background-color: #7f5539;
  box-shadow:
    0px 0px 5px #deab90,
    0px 0px 5px #deab90,
    0px 0px 5px #deab90,
    0px 0px 10px #deab90;
} */
