/* .title-style-dark {
  color: #d2b48c;
  text-shadow:
    0px 0px 5px #8b7355,
    0px 0px 5px #8b7355,
    0px 0px 5px #8b7355,
    0px 0px 10px #8b7355;
} */
.title-style-dark {
  color: #d2b48c;
  text-shadow:
    0px 0px 5px #8b7355,
    0px 0px 5px #8b7355,
    0px 0px 5px #8b7355,
    0px 0px 5px #8b7355;
}

.title-style-light {
  color: #7f5539;
  text-shadow:
    0px 0px 5px #deab90,
    0px 0px 5px #deab90,
    0px 0px 5px #deab90,
    0px 0px 10px #deab90;
}

.my-name {
  background-image: linear-gradient(
    -225deg,
    #8338ec 0%,
    #ff006e 29%,
    #fb5607 67%,
    #ffbe0b 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
