@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

@import 'components.css';
@import 'swiper.css';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

header::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1.25rem;
  bottom: 100%;
  background: transparent;
  z-index: -1;
  backdrop-filter: blur(10px);
}

.active-link {
  @apply scale-110 border-b-2 border-yellow-700 text-yellow-700 dark:border-yellow-300 dark:text-yellow-300;
}
