@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'hero-section.css';
@import 'components.css';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

header::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1.25rem;
  bottom: 100%;
  background: transparent;
  z-index: -1;
  backdrop-filter: blur(10px);
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #ecd5c3;
}
